<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>f001</key>
	<string>[hee hee]</string>
	<key>f002</key>
	<string>[lol]</string>
	<key>f003</key>
	<string>[nice]</string>
	<key>f004</key>
	<string>[dizzy]</string>
	<key>f005</key>
	<string>[cry]</string>
	<key>f006</key>
	<string>[greedy]</string>
	<key>f007</key>
	<string>[crazy]</string>
	<key>f008</key>
	<string>[hum]</string>
	<key>f009</key>
	<string>[cute]</string>
	<key>f010</key>
	<string>[angry]</string>
	<key>f011</key>
	<string>[sweat]</string>
	<key>f012</key>
	<string>[smile]</string>
	<key>f013</key>
	<string>[sleepy]</string>
	<key>f014</key>
	<string>[money]</string>
	<key>f015</key>
	<string>[razz]</string>
	<key>f016</key>
	<string>[cool]</string>
	<key>f017</key>
	<string>[bad luck]</string>
	<key>f018</key>
	<string>[surprise]</string>
	<key>f019</key>
	<string>[curse]</string>
	<key>f020</key>
	<string>[contempt]</string>
	<key>f021</key>
	<string>[booger]</string>
	<key>f022</key>
	<string>[lust]</string>
	<key>f023</key>
	<string>[clap]</string>
	<key>f024</key>
	<string>[sad]</string>
	<key>f025</key>
	<string>[think]</string>
	<key>f026</key>
	<string>[sick]</string>
	<key>f027</key>
	<string>[kiss]</string>
	<key>f028</key>
	<string>[hug]</string>
	<key>f029</key>
	<string>[supercilious]</string>
	<key>f030</key>
	<string>[right hum]</string>
	<key>f031</key>
	<string>[left hum]</string>
	<key>f032</key>
	<string>[quiet]</string>
	<key>f033</key>
	<string>[grievance]</string>
	<key>f034</key>
	<string>[yawn]</string>
	<key>f035</key>
	<string>[beat]</string>
	<key>f036</key>
	<string>[question]</string>
	<key>f037</key>
	<string>[winking]</string>
	<key>f038</key>
	<string>[shy]</string>
	<key>f039</key>
	<string>[gonna cry]</string>
	<key>f040</key>
	<string>[bye]</string>
	<key>f041</key>
	<string>[silent]</string>
	<key>f042</key>
	<string>[strong]</string>
	<key>f043</key>
	<string>[weak]</string>
	<key>f044</key>
	<string>[awesome]</string>
	<key>f045</key>
	<string>[meaningless]</string>
	<key>f046</key>
	<string>[onlooker]</string>
	<key>f047</key>
	<string>[mighty]</string>
	<key>f048</key>
	<string>[camera]</string>
	<key>f049</key>
	<string>[car]</string>
	<key>f050</key>
	<string>[plane]</string>
	<key>f051</key>
	<string>[love]</string>
	<key>f052</key>
	<string>[ultraman]</string>
	<key>f053</key>
	<string>[rabbit]</string>
	<key>f054</key>
	<string>[panda]</string>
	<key>f055</key>
	<string>[no]</string>
	<key>f056</key>
	<string>[ok]</string>
	<key>f057</key>
	<string>[like]</string>
	<key>f058</key>
	<string>[tempt]</string>
	<key>f059</key>
	<string>[yeah]</string>
	<key>f060</key>
	<string>[love u]</string>
	<key>f061</key>
	<string>[fist]</string>
	<key>f062</key>
	<string>[poor]</string>
	<key>f063</key>
	<string>[shake hand]</string>
	<key>f064</key>
	<string>[rose]</string>
	<key>f065</key>
	<string>[heart]</string>
	<key>f066</key>
	<string>[broken heart]</string>
	<key>f067</key>
	<string>[pig]</string>
	<key>f068</key>
	<string>[coffee]</string>
	<key>f069</key>
	<string>[mic]</string>
	<key>f070</key>
	<string>[moon]</string>
	<key>f071</key>
	<string>[sun]</string>
	<key>f072</key>
	<string>[beer]</string>
	<key>f073</key>
	<string>[adorable]</string>
	<key>f074</key>
	<string>[gift]</string>
	<key>f075</key>
	<string>[follow]</string>
	<key>f076</key>
	<string>[clock]</string>
	<key>f077</key>
	<string>[bike]</string>
	<key>f078</key>
	<string>[cake]</string>
	<key>f079</key>
	<string>[scarf]</string>
	<key>f080</key>
	<string>[glove]</string>
	<key>f081</key>
	<string>[snow]</string>
	<key>f082</key>
	<string>[snowman]</string>
	<key>f083</key>
	<string>[hat]</string>
	<key>f084</key>
	<string>[leaf]</string>
</dict>
</plist>
